
.buttons {
    text-align: center;
}

.header {
    width: 700px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url('../img/bg.jpg');
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}




