
.container {
  margin: auto;
  max-width: 900px;
}


.buttons {
    text-align: center;
}

.header {
    width: 700px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url('../img/bg.jpg');
}

.navbar-links {
    height: 100%;
    text-align: center;
    width: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
}

.toggle-button {
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}


@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}








